#question {
  overflow: auto;
  word-wrap: normal;
}

.default_button {
  border-radius: 10px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  align: center;
  border: solid #334258 1px;
}

.default_button:active {
  position: relative;
  top: 1px;
}

#next_question {
  background-color: #3D94F6;
  background-image: -webkit-linear-gradient(#3D94F6 5%, #1E62D0 100%);
  background-image: linear-gradient(#3D94F6 5%, #1E62D0 100%);
}

#next_question:hover {
  background-color: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
}

#buzz {
  background-color: #d0451b;
  background-image: -webkit-linear-gradient(#d0451b 5%, #bf3e17 100%);
  background-image: linear-gradient(#d0451b 5%, #bf3e17 100%);
}

#buzz:hover {
  background-color: #bc3315;
  background-image: -webkit-linear-gradient(top, #bc3315, #d0451b);
  background-image: linear-gradient(to bottom, #bc3315, #d0451b);
}

#timer {
  background-color: #ffae00;
  background-image: linear-gradient(#ffae00 5% #c98c07 100%);
  background-image: -webkit-linear-gradient(#ffae00 5% #c98c07 100%);
}

#timer:hover {
  background-color: #e49e09;
  background-image: -webkit-linear-gradient(top, #e49e08, #ffae00);
  background-image: linear-gradient(to bottom, #e49e08, #ffae00);
}

#skip{

}

#skip:hover{

}

#submit_answer {
  display: none;
}
