i {
  margin-right: 5px;
}

textarea {
  border: solid #58585b 3px;
  overflow: auto;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

.default_button {
  border-radius: 10px;
  color: #ffffff;
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: solid #334258 1px;
  margin: .5px 0px;
}

.default_button:active {
  position: relative;
  top: 1px;
}

.question_box {
  width: 100%;
  height: 30%;
  background-color: #e7e7e7;
  color: #181818;
  font-weight:200;
}

.result_box {
  width: 100%;
  height: 40px;
  border: solid #58585b 3px;
  font-weight:bold;
}

#next_question {
  background-color: #3D94F6;
  background-image: -webkit-linear-gradient(#3D94F6 5%, #1E62D0 100%);
  background-image: linear-gradient(#3D94F6 5%, #1E62D0 100%);
}

#next_question:hover {
  background-color: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
}

#buzz {
  float: right;
  background-color: #d0451b;
  background-image: -webkit-linear-gradient(#d0451b 5%, #bf3e17 100%);
  background-image: linear-gradient(#d0451b 5%, #bf3e17 100%);
}

#buzz:hover {
  background-color: #bc3315;
  background-image: -webkit-linear-gradient(top, #bc3315, #d0451b);
  background-image: linear-gradient(to bottom, #bc3315, #d0451b);
}

#timer {
  background-color: #ffae00;
  background-image: linear-gradient(#ffae00 5% #c98c07 100%);
  background-image: -webkit-linear-gradient(#ffae00 5% #c98c07 100%);
}

#timer:hover {
  background-color: #e49e09;
  background-image: -webkit-linear-gradient(top, #e49e08, #ffae00);
  background-image: linear-gradient(to bottom, #e49e08, #ffae00);
}

#skip {
  background-color: #88878b;
  background-image: -webkit-linear-gradient( #88878b 5% #6c6c6c 100%);
  background-image: linear-gradient( #88878b 5% #6c6c6c 100%);
}

#skip:hover {
  background-color: #6c6c6c;
  background-image: -webkit-linear-gradient(top, #6c6c6c, #88878b);
  background-image: linear-gradient(top, #6c6c6c, #88878b);
}

#submit_answer {
  display: none;
}

#user_answer {
  display: none;
  width: 100%;
  height: 25px;
}

#result {}

#question {
  text-align: left;
  overflow: auto;
  word-wrap: normal;
}
