{% set value = 'no spaces' %}
{% extends 'test.html' %}
{%block script %}
<script src="static/scripts/test.js?q=1282527785" type="text/javascript"></script>
{% endblock %}

{% block content %}
<section id="question">
    <div class="container">
        <h1>Sample Question</h1>
        <p>
            Are you excited about this website?
        </p>
        <form id="sample_form" action="#">
            <input id="sample_input" type="text" name="response" />
            <button class="default_button" id="sample_button" href="#" onclick="popup()" value="Click Me!">Submit</button>
        </form>
        <p id="result"></p>
    </div>
</section>
{% endblock %}
