{% extends 'test.html' %}
<!--CODING SPECIFIC TO THIS HTML STARTS HERE-->
{%block script %}
<!--specific scripts goes here -->
    <script src="static/scripts/question.js?q=1282527785" type="text/javascript"></script>
{% endblock %}
{% block content %}
      <section id="question_room">
        <div class="container">
            <h1>Question</h1>
            <form class="question_gui">
                <button class="default_button" id="next_question" href="#">Next Question</button>
                <button class="default_button" id="buzz" href="#">Buzz</button>
                <button class="default_button" id="submit_answer" href="#">Submit Answer</button>
                <input id="user_answer" type="text" name="response" autocomplete="off" />                
            </form>
            <p id="question">{{question}}</p>
            <p id="result"></p>
            </div>
    </section>
{% endblock %}
